@import "../../styles/mixins";

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;

  h3 {
    color: var(--blue);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  h1 {
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    margin-bottom: 30px;
  }

  &__wrapper{
    display: flex;
    width: 70%;
    margin-top: 8rem;
    p{
      color: var(--black);
      display: inline;
    }
    h3{
      text-transform: none;
      color: var(--dark-blue);
      font-size: 1.5rem;
      font-family: "Inter", sans-serif;
      display: inline;
    }
    img{
      display: inline;
      color: var(--dark-blue);
      width: 5rem;
      height: 5rem;
    }

    &__icon{
      width: 2.5rem;
      height: 2.5rem;
      color: #f6b256;
    }

    &__icons{
      display: inline;
      width: 2rem;
      height: 2rem;
    }

    &__left{
      width: 50%;
    }
    &__right{
      width: 50%;
    }
  }
}

.annoying{
  display: flex;
  gap: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .form-group {
    display: flex;
    flex-direction: column;

    label {
      font-size: 14px;
      color: #333;
      margin-bottom: 5px;
    }

    input,
    textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 6px;
      background-color: #f6f6ff; // Light purple background
      font-size: 14px;
      outline: none;
      transition: border 0.3s ease-in-out;

      &:focus {
        border-color: #6a5acd; // Slightly darker purple on focus
      }
    }

    textarea {
      resize: none;
    }
  }
}

.form__btn{
  background: var(--dark-blue);
  padding-inline: 0.6rem;
  padding-block: 0.5rem;
  border-radius: 999rem;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  display: inline-block;
  cursor: pointer;
  margin-top: 7rem;

  p{
    color: var(--cultured) !important;
    font-family: "Outfit", sans-serif;
    padding-inline: 0.6rem;
  }
}
