@use "../../styles/mixins" as *;

nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  top: 0;
  left: 0;
  align-items: center;
  padding-block: 0.6rem;
  position: fixed;
  z-index: 3;

  img{
    width: 10rem;
  }

  ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #d2d2d2;
    text-decoration: none;
    list-style: none;
    a{
      text-transform: none;
    }
    li{
      cursor: pointer;
      transition: all 1s;
      &:hover{
        text-decoration: underline;
      }
    }
    @include respond(phone){
      display: none;
    }
  }
}

.menu-btn{
  display: none;
  cursor: pointer;

  @include respond(phone){
    display: flex;
    width: 2rem;
    height: 2rem;
  }
}

.active{
  display: flex;
}

#nav__btn{
  padding-block: 0.4rem;
  padding-inline: 0.8rem;
}