@import "../../styles/mixins";
@import "../../index";

.hero{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: url("../../assets/hero.png");
  //position: absolute;
  z-index: -1;
  top: 0;

  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(30, 0, 120, 0.6);
  }

  &__container{
    z-index: 2;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem;

    h1{
      font-family: "Outfit", sans-serif;
      font-size: 4rem;
      font-weight: 500;
      line-height: 5rem;
    }

  }

  &__btn{
    @extend .btn;
    padding-inline: 5rem;
    background: var(--cultured);
  }
}


.scrolled{
  background: #212ea0;
  transition: 0.3s ease in;
}