@use "/src/styles/mixins";
  /* Navigation Links */
  ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;

    @include respond(tablet-portrait) {
      flex-direction: column;
      gap: 1.2rem;
      align-items: flex-start;
      position: absolute;
      top: 100%;
      left: 0;
      padding: 2rem;
      background-color: var(--black);
      width: 100%;
      border-top: 1px solid var(--spanish-gray);
      display: none; /* Initially hidden */
      z-index: 99;
      transition: all 0.3s ease-in-out;
    }

    a {
      color: var(--cultured);
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--spanish-gray);
      }
    }
  }


:root{
  --spanish-gray: #969696;
  --cultured: #f6f6f6;
  --black: #151515;
  --eerie-black: #1b1b1b;
  --black-olive: #383f3e;
  --blue: #212ea0;
  --dark-blue: #000f38;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html{
  scroll-behavior: smooth;
}

body{
  box-sizing: border-box;
  overflow-x: hidden;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
}

img{
  display: block;
}

h1, h2, h3, h4, h5, h6, p{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--cultured);
}

.wrapper{
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 5rem;

  @include respond(tab-land){
    padding-inline: 1.5rem;
  }

  @include respond(phone){
    padding-inline: 0.8rem;
  }
}

.btn{
  background: var(--cultured);
  padding-inline: 0.6rem;
  padding-block: 0.5rem;
  color: var(--black) !important;
  border-radius: 999rem;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  display: inline-block;
  cursor: pointer;

  &:hover{
    border: 1px solid var(--cultured);
    background: transparent;
    color: var(--cultured) !important;
  }
}